body {
    background-image: url(../images/space-background.gif)
}


.welcome-col {
    border-style: dotted;
}

.welcome-content {
    display: flex;
}

.game-content {
    display: none;
}

.result-content {
    display: none;
}

.welcome-sub-row {
    padding-top: 2%;
    padding-bottom: 2%;
    background: black;
    color: white;
    width: 75%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    align-content: center;
    border-style: inset;
    border-color: chartreuse;
    border-width: 5px;
}

.game-title {
    font-family: monospace;
    font-size: 35px;
    line-height: 1.2;
}

.start-button,
.next-button,
.finish-button,
.new-game-button {
    margin-top: 2.5%;
    margin-bottom: 3.5%;
    background: yellow;
    color: black;
    width: 20%
}

#finish-button{
    display:none;
}

#solar-system {
    width: 100%
}

.game-sub-row {
    padding-top: 2%;
    padding-bottom: 2%;
    background: black;
    color: white;
    width: 75%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    align-content: center;
    border-style: inset;
    border-color: chartreuse;
    border-width: 5px;
}
